.address {
  z-index: 40;

  display: flex;
  margin-top: -30px;
  padding-top: 29px;
  padding-bottom: 34px;

  flex-direction: column;

  color: $dark-blue-grey;
  background-color: $light-gold;
}

.address__wrapper {
  position: relative;
  z-index: 4;

  display: flex;
  padding-bottom: 36px;

  flex-direction: column;

  background-color: $light-gold;

  @include section-bottom-round;
}

.address__text {
  position: relative;

  margin-bottom: 13px;
  padding-top: 19px;
  padding-bottom: 18px;
  padding-left: 62px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;

  text-transform: uppercase;
}

.address__text::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 0;

  width: 45px;
  height: 45px;

  background-color: $dark-blue-grey;
  background-image: url("../img/contacts-location.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px 22px;

  border-radius: 50%;
}

.address__map {
  margin-top: -30px;
}

@media (min-width: $tablet-width) {
  .address {
    margin-top: -60px;
    padding-top: 83px;
  }

  .address__text {
    margin-bottom: 42px;
    padding-top: 19px;
    padding-right: 10px;
    padding-bottom: 18px;
    padding-left: 128px;

    font-size: 28px;
    line-height: 28px;
  }

  .address__text::before {
    top: -2px;
    left: 35px;

    width: 67px;
    height: 67px;

    background-size: 21px 31px;
  }

  .address__link {
    width: 618px;
    margin-left: 35px;
    padding-top: 28px;
    padding-bottom: 24px;
  }

  .address__wrapper {
    padding-bottom: 86px;
  }

  .address__map {
    margin-top: -60px;
  }
}

@media (min-width: $desktop-width) {
  .address {
    padding-top: 118px;
  }

  .address__wrapper {
    padding-bottom: 60px;
  }

  .address__box {
    display: flex;
    padding-left: 238px;

    flex-direction: row;
  }

  .address__link {
    width: 324px;
    margin-left: 138px;
  }

  .address__text {
    margin: 0;
    padding-top: 28px;
    padding-left: 167px;
  }

  .address__text::before {
    top: -4px;
    left: 45px;

    width: 90px;
    height: 90px;

    background-size: 28px 43px;
  }
}
