.btn {
  position: relative;

  display: block;
  width: 100%;
  padding-top: 23px;
  padding-right: 45px;
  padding-bottom: 21px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  text-decoration: none;

  color: $dark-slate-blue;
  background-color: $light-gold;

  border-radius: 10px;

  &:hover,
  &:focus {
    background-color: $dark-gold;
  }

  &:active {
    color: rgba($dark-slate-blue, 0.3);
    background-color: $dark-gold;

    &::after {
      opacity: 0.3;
    }
  }
}

.btn::after {
  content: "";

  position: absolute;
  top: 21px;
  right: 23px;

  width: 10px;
  height: 14px;

  border: 8px solid transparent;
  border-left: 10px solid #1d2e5b;
}

.btn--stroke {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 18px;
  padding-left: 20px;
  border: 3px solid $dark-blue-grey;

  &::after {
    right: 12px;
  }

  &:hover,
  &:focus {
    color: $white;
    background-color: $dark-blue-grey;

    &::after {
      border-left-color: $white;
    }
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $dark-blue-grey;
  }
}

.btn--round {
  display: flex;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;

  justify-content: center;

  font-size: 17px;
  line-height: 30px;

  text-transform: uppercase;

  border: none;
  border-radius: 25px;

  &:hover,
  &:focus {
    background-color: $dark-gold;
  }

  &:active {
    color: rgba($dark-slate-blue, 0.3);
  }
}

.btn--round::after {
  display: none;
}

@media (min-width: $tablet-width) {
  .btn {
    padding-top: 30px;
    padding-bottom: 27px;
    padding-left: 33px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }

  .btn::after {
    top: 33px;
    right: 27px;
  }

  .btn--round {
    font-size: 20px;
    line-height: 30px;
  }
}
