.calendar__toggle {
  display: flex;
  margin-bottom: 7px;
  padding-top: 13px;
  padding-bottom: 11px;

  justify-content: space-between;
  align-items: center;

  box-shadow: inset 0 1px 0 0 $midnight-express,
    inset 0 -1px 0 0 $midnight-express;
}

.calendar__btn {
  width: 17px;
  height: 17px;
  padding: 0;

  background-color: transparent;
  background-size: 9px 17px;
  background-repeat: no-repeat;

  border: none;

  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.5;

    cursor: pointer;
    outline: none;
  }

  &:active {
    opacity: 0.1;
  }
}

.calendar__btn--prev {
  order: -1;

  background-image: url("../img/month-arrow-left.svg");
}


.calendar__btn--next {
  background-image: url("../img/month-arrow-right.svg");
  background-position: right;
}

.calendar__title {
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.calendar__weekday {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 6px;
  padding-left: 13px;

  color: $medium-grey;
}

.calendar__weekend {
  color: #ff5c23;
}

.calendar__weekday--desktop {
  display: none;
}

.calendar__weekday--mobile {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  text-align: center;
}


.calendar__table {
  width: 100%;

  vertical-align: middle;
  text-align: center;

  border-collapse: collapse;
}

.calendar__body {
  border: 1px solid $midnight-express;
}

.calendar__row {
  border-bottom: 1px solid $midnight-express;
}

.calendar__row:last-child {
  border-bottom: none;
}

.calendar__cell {
  width: 30px;
  height: 31px;
  padding: 0;

  border-right: 1px solid $midnight-express;
}

.calendar__row--weekdays,
.calendar__cell--weekdays {
  border: none;
}

.calendar__date {
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  color: $medium-grey;
  background-color: $solitude;

  text-decoration: none;
}

.calendar__date--disabled {
  pointer-events: none;
  cursor: default;

  color: rgba($medium-grey, 0.3);
  background-color: $white;
}

.calendar__date:not(.calendar__date--disabled):hover {
  position: relative;

  color: $white;
  background-color: $dark-slate-blue;

  &::after {
    content: "";

    position: absolute;

    top: -1px;
    left: -1px;

    width: 33px;
    height: 32px;

    border: 2px solid #ff5c23;
  }
}

.calendar__date--choosen {
  color: $white;
  background-color: $dark-slate-blue;
}


@media (min-width: $tablet-width) {
  .calendar__toggle {
    padding-top: 29px;
    padding-bottom: 24px;
  }

  .calendar__title {
    font-size: 36px;
    line-height: 36px;
  }

  .calendar__btn {
    width: 53px;
    height: 34px;

    background-size: 53px 34px;
  }

  .calendar__weekday {
    padding-top: 25px;
    padding-bottom: 2px;
    padding-left: 29px;
  }

  .calendar__weekday--mobile {
    display: none;
  }

  .calendar__weekday--desktop {
    display: flex;

    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.1em;
  }

  .calendar__cell {
    width: 70px;
    height: 69px;
  }

  .calendar__date:not(.calendar__date--disabled):hover::after {
    width: 71px;
    height: 70px;
  }

  .calendar__cell--weekdays {
    height: 49px;
  }

  .calendar__date {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
}

@media (min-width: $desktop-width) {
  .calendar__toggle {
    margin-bottom: 6px;
  }


  .calendar__btn--next {
    margin-right: -15px;
  }

  .calendar__btn--prev {
    margin-left: -15px;
  }

  .calendar__cell {
    width: 70px;
    height: 71px;
  }

  .calendar__date:not(.calendar__date--disabled):hover::after {
    width: 144px;
    height: 72px;
  }

  .calendar__cell--weekdays {
    height: 49px;
  }

  .calendar__date {
    position: relative;

    padding-top: 7px;
    padding-left: 15px;

    justify-content: flex-start;
    align-items: flex-start;

    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }

  .calendar__weekday {
    padding: 0;
    padding-top: 6px;
    padding-left: 16px;

    justify-content: flex-start;

    font-size: 18px;
    line-height: 30px;
    font-weight: 400;

    text-align: left;
  }

  .calendar__date--check-in::before,
  .calendar__date--check-out::before {
    position: absolute;
    bottom: 7px;
    left: 16px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: $white;
  }

  .calendar__date--check-in::before {
    content: "Заезд";
  }

  .calendar__date--check-out::before {
    content: "Выезд";
  }
}
