.intro {
  position: relative;
  z-index: 10;

  padding-top: 10px;
  padding-bottom: 39px;

  color: #ffffff;
  background-color: $dark-blue-grey;
  background-image: url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: left 79px top 139px,
    center 0;
  background-size: 192px 255px,
    320px 569px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png"),
      url("../img/globe-back-mobile@2x.jpg");
    background-size: 192px 255px,
      320px 569px;
  }
}

.intro::before {
  content: "";

  position: absolute;
  top: 395px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 285px;

  background-color: $dark-blue;
}

.intro__wrapper {
  z-index: 2;
}

.intro__title {
  margin: 0;
  margin-bottom: 245px;
  padding: 0;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.intro__nav {
  width: 269px;
  margin: 0 auto;
  margin-bottom: 11px;
}

.intro__review {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 810px;
    padding-top: 30px;
    padding-bottom: 96px;

    background-image: url("../img/traveller-illustration-tablet@1x.png"),
      url("../img/globe-back-tablet@1x.jpg");
    background-position: 283px 271px,
      center 251px;
    background-size: 372px,
      1479px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png"),
        url("../img/globe-back-tablet@2x.jpg");
      background-size: 372px,
        1479px;
    }
  }

  .intro::before {
    top: 862px;

    height: 236px;

    background-color: $dark-blue-grey;
  }

  .intro__nav {
    display: none;
  }

  .intro__title {
    margin: 0 auto;
    margin-bottom: 59px;
    max-width: 430px;
    font-size: 60px;
    line-height: 70px;
  }

  .intro__review {
    max-width: 400px;
    margin-bottom: 180px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 602px;
    padding-top: 87px;
    padding-bottom: 121px;

    background-color: #161c34;
    background-image: url("../img/traveller-illustration-desktop@1x.png"),
      url("../img/globe-back-desktop@1x.jpg");
    background-position: left 605px top 4px,
      left -173px bottom -13px;
    background-size: 431px 640px,
      1800px 750px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png"),
        url("../img/globe-back-desktop@2x.jpg");
      background-size: 431px 640px,
        1800px 750px;
    }
  }

  .intro__list {
    width: 1322px;

    display: flex;
    flex-wrap: wrap;
  }

  .intro::before {
    display: none;
  }

  .intro__wrapper {
    display: flex;

    flex-wrap: wrap;
  }

  .intro__title {
    max-width: 630px;
    margin: 0;
    margin-top: 16px;
    margin-left: 68px;

    text-align: left;
  }

  .intro__review {
    width: 285px;

    margin-bottom: 113px;
    margin-left: auto;
  }
}
