.profile {
  position: relative;

  padding-top: 23px;
  padding-bottom: 16px;
}

.profile__box {
  position: relative;
}

.profile__info {
  display: flex;
  padding-right: 16px;
  padding-left: 20px;
  padding-bottom: 12px;

  justify-content: space-between;
  align-items: center;
}

.profile-lvl {
  margin-top: -7px;
}

.profile__photo {
  width: 99px;
  height: 100px;

  border-radius: 50%;
}

.profile-lvl__bar {
  transform: rotate(-83deg);
}

.profile__group {
  position: relative;

  margin: 0;
  padding: 0;

  border: 0;
}

.profile__btn {
  display: flex;
  width: 270px;
  margin-bottom: 32px;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 9px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  justify-content: center;
  align-items: center;

  color: $dark-slate-blue;
  background-color: #dfe3f0;
  border-radius: 20px;

  &:hover,
  &:focus {
    background-color: #d1d7e9;
  }

  &:active,
  &:active .profile__hide {
    color: rgba($dark-slate-blue, 0.3);
  }
}

.profile__wrapper {
  position: relative;

  display: flex;
  width: 270px;
  margin-bottom: 17px;

  flex-direction: column;
  align-items: center;
}

.profile__title--hashtags {
  position: absolute;
  left: 102px;
  top: 1px;
}

.profile__tags {
  width: 270px;
  height: 89px;
  padding-top: 22px;
  padding-right: 24px;
  padding-bottom: 13px;
  padding-left: 26px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;

  color: $medium-grey;
  background-color: transparent;

  border: 1px solid $midnight-express;
  border-radius: 10px;

  resize: none;

  &:hover,
  &:focus {
    border-color: #aeb4cb;
  }

  &:active {
    border-color: $dark-blue;
  }
}

.profile__wrapper--transport {
  border: 1px solid $midnight-express;
  border-radius: 10px;
}

.profile__title {
  z-index: 1;

  margin-top: -9px;
  padding-right: 14px;
  padding-left: 14px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;

  color: $dark-slate-blue;
  background-color: $solitude;
}

.profile__list {
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .profile {
    padding-top: 63px;
    padding-bottom: 34px;
  }

  .profile__photo {
    width: 94px;
    height: 94px;
    border-radius: 7px;
  }

  .profile__info {
    padding: 0;
    padding-bottom: 46px;
  }

  .profile-lvl {
    margin-top: -3px;
    margin-left: -3px;
  }

  @media (max-width: 1439px) {
    .profile__form {
      display: flex;

      flex-direction: column;
    }

    .profile__group--transport {
      margin-top: -147px;
      margin-bottom: 35px;
      margin-left: 152px;

      order: -1;
    }
  }

  .profile__wrapper {
    position: relative;

    width: 618px;
  }

  .profile__wrapper--transport {
    width: 308px;
    min-height: 94px;
    padding-top: 1px;
    padding-bottom: 10px;
  }

  .profile__wrapper--hashtags {
    margin-top: 17px;
  }

  .profile__title {
    position: absolute;
    bottom: -12px;
    left: 83px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  .profile__title--hashtags {
    top: 95px;
    bottom: auto;
    left: 270px;
  }

  .profile__btn {
    width: 618px;
    height: 60px;
    margin-bottom: 34px;

    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;

    border-radius: 10px;
  }

  .profile__tags {
    width: 618px;
    height: 94px;
    padding-top: 35px;
    padding-right: 24px;
    padding-bottom: 13px;
    padding-left: 40px;

    font-size: 20px;
    line-height: 24px;
  }

  .profile__list {
    width: 196px;
    margin-top: 24px;
    margin-bottom: 0;

    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .profile {
    padding-top: 73px;
    padding-bottom: 48px;
  }

  .profile__hide {
    display: none;
  }

  .profile__info {
    position: absolute;
    top: -263px;
    right: 155px;

    width: 330px;
  }

  .profile__group--transport {
    position: static;
  }

  .profile__photo {
    width: 190px;
    height: 190px;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .profile__lvl {
    margin-left: -2px;
    margin-bottom: 13px;
  }

  .profile__btn {
    width: 190px;
    height: 47px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .profile__btn-wrapper {
    position: absolute;
    top: -74px;
    right: 155px;
  }

  .profile__form {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
  }

  .profile__wrapper--transport {
    width: 384px;
    min-height: 94px;
    padding-top: 11px;
    padding-bottom: 10px;
  }

  .profile__list {
    width: 172px;
    margin-top: 11px;
    margin-bottom: 0;
  }

  .profile__title {
    left: 119px;
  }

  .profile__wrapper--hashtags {
    width: 730px;
    height: 94px;

    margin: 0;
  }

  .profile__tags {
    width: 730px;
    height: 94px;
  }

  .profile__title--hashtags {
    left: 24px;
  }
}
