//ширины
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//цвета
$dark-blue-grey: #192144;
$dark-blue: #161c35;
$dark-slate-blue: #1d2e5b;
$white: #ffffff;
$light-gold: #ffd74b;
$dark-gold: #ffbd30;
$mango: #ff8d30;
$mango-two: #ffa530;
$medium-grey: #444444;
$tooltip-blue: #101d41;
$light-blue: #f3f4f8;
$gray80: #cccccc;
$midnight-express: #cbced9;
$hawkes-blue: #d6d9e6;
$solitude: #edeff6;
$lavander: #e2e5f2;
